@mixin iconsize {
    height: 1.1rem;
    width: 1.1rem;
}

@mixin form {
    &::-moz-input-placeholder {
        font-family: $font-1;
        font-weight: 700;
        color: rgba($color-grey-dark-2, .8);
    }

    &::-webkit-input-placeholder {
        font-family: $font-1;
        font-weight: 700;
        color: rgba($color-grey-dark-2, .8);
    }
}
