//COLORS
$color-yellow-dark: #df9704;
$color-yellow-light: #ffd36b;
$color-blue-dark: #2c2292;
$color-blue-light: #0779e4;
$color-black: #000;
$color-white: #fff;
$color-grey-dark-1: #333;
$color-grey-dark-2: #777;
$color-grey-light-1: #f4f2f2;
$color-green: #00b5b6;

///////////////
$bp-largest-0: 77.5625em;
$bp-largest-1: 81.25em; //1300px
$bp-largest-2: 76.25em; //1220px
$bp-largest-3: 68.75em; //1100px
$bp-largest-4: 62.5em; //1000px
$bp-medium-1: 53.75em; //860px;
$bp-medium-2: 50em; //800px;
$bp-medium-3: 43.75em; //700px;
$bp-medium-4: 37.5em; //600px;
$bp-small-1: 31.25em; //500px;
$bp-small-2: 25em; //400px;


//FONTS
$font-1: 'DM Sans',
sans-serif;
$font-2: 'Pacifico',
cursive;
$font-3: 'Sacramento',
cursive;
