//COLORS
$color-yellow-dark: #feb72b;
$color-yellow-light: #ffd36b;
$color-blue-dark: #111d5e;
$color-blue-light: #0779e4;
$color-black: #000;
$color-white: #fff;
$color-grey-dark-1: #333;
$color-grey-dark-2: #777;
$color-grey-light-1: #f4f2f2;
$color-green: #75b79e;

//FONTS
$font-1: 'DM Sans',
sans-serif;
$font-2: 'Pacifico',
cursive;
$font-3: 'Sacramento',
cursive;
