.aboutus {

    &__all {
        display: flex;
        align-items: center;

    }

    &__img {
        flex: 0 0 50%;
        padding: 0;

    }

    &__image {
        width: 50rem;
        height: 50rem;
    }

    &__main {
        flex: 1;
    }

    &__h6-1 {}

    &__h6-2 {
        color: rgba($color-grey-dark-1, .8);
    }

    &__h6-3 {
        font-weight: 500;
    }

    &__h6-4 {
        font-weight: 500;
    }
}
