* {
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    position: relative;

    @media only screen and (max-width: $bp-largest-3) {
        font-size: 56.25%;
    }

    @media only screen and (max-width: $bp-small-2) {
        font-size: 50%;
    }


}

body {
    font-family: $font-1;
    background-color: $color-white;
    color: $color-black;
}

a {
    //    text-decoration: none;
}

::selection {
    background-color: rgba($color-blue-light, .7);
    color: $color-white;
}
