.container {
    padding: 4rem;
}

.header-about {
    display: flex;
}

.number-users {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 4rem;
    padding: 0 12rem;
}
